{% extends 'base_layout.html' %}

{% block body %}               
</br><img src="https://supreme.swu.ac.th/file_staff_upload/file_student_pic/2562_1/62102010030.jpg" class="rounded mx-auto d-block">
<div class="row">
        <div class="col-4"></div>
        <div class="col-4"></br>
                <div class="alert alert-dark" role="alert" >
                        <h4 style="text-align: center;">อุกฤษฏ์ เกิดศิริ 62102010030 </h4>
                </div>
        </div>
        
</div>
{% endblock %}